<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mm.chenme.lib.commutillibdemo">

    <uses-permission android:name="android.permission.INTERNET" />


    <!--
        Glide：ACCESS_NETWORK_STATE 对于 Glide 加载 URL 并不是必需的，但是它将帮助 Glide 处理 片状网络(flaky network) 和飞行模式
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
        Glide：从本地文件夹或 DCIM 或图库中加载图片
    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
        Glide：缓存存储到公有 SD 卡上
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="mm.chenme.lib.commutillibdemo.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BThemeNoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="mm.chenme.lib.commutillibdemo.ui.main.FragmentMainActivity" />

        <activity android:name="mm.chenme.lib.commutillibdemo.ui.other.AreaSelectActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.other.SelfClipLayoutTestActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.other.ShapeRippleButtonActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.other.ErrorEmptyViewActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.other.GlideScaleTypeActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.other.SharedPreferencesActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.other.CoroutineActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.other.Divider4TabLayoutActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.other.ViewStubActivity" />


        <activity android:name="mm.chenme.lib.commutillibdemo.ui.rare.ClipToPaddingTestActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.rare.ClipChildrenTestActivity" />

        <activity android:name="mm.chenme.lib.commutillibdemo.ui.qmui.QMUIWidgetTestActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.qmui.QMUIBottomSheetActivity" />

        <activity android:name="mm.chenme.lib.commutillibdemo.complex_demo.netdemo.DemoActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.complex_demo.bezier.BezierHeartViewTestActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.complex_demo.rv_paging_scroll.GridPagerSnapHelperActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.complex_demo.surface_view.SurfaceViewActivity" />
        <!--        <activity android:name=".ui.FlutterDemoActivity" />-->
    </application>

</manifest>