<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mm.chenme.lib.commutillibdemo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="mm.chenme.lib.commutillibdemo.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/BThemeNoActionBar">
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="mm.chenme.lib.commutillibdemo.ui.other.AreaSelectActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.other.SelfClipLayoutTestActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.other.ShapeRippleButtonActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.other.ErrorEmptyViewActivity" />

        <activity android:name="mm.chenme.lib.commutillibdemo.ui.rare.ClipToPaddingTestActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.rare.ClipChildrenTestActivity" />

        <activity android:name="mm.chenme.lib.commutillibdemo.ui.qmui.QMUIWidgetTestActivity" />
        <activity android:name="mm.chenme.lib.commutillibdemo.ui.qmui.QMUIBottomSheetActivity" />

        <activity android:name="mm.chenme.lib.commutillibdemo.netdemo.DemoActivity" />
<!--        <activity android:name=".ui.FlutterDemoActivity" />-->
    </application>

</manifest>